#include? "Pods/Target Support Files/Pods-Runner/Pods-Runner.release.xcconfig"
#include "Generated.xcconfig"

APP_IDENTIFIER=nd.imagevideo.filters
CODE_SIGN_STYLE=Manual
DEVELOPMENT_TEAM=8MJN994E42
CODE_SIGN_IDENTITY=Apple Distribution: Mykola Dymura (8MJN994E42)
PROVISIONING_PROFILE_SPECIFIER=imagevideo-filters
